

<a class="btn btn-warning " asp-controller="Board" asp-action="Add">投稿</a>
<table class="table table-bordered" id="table">

    <tr>
        <th>番号</th>
        <th>題目</th>
        <th>ユーザー</th>
        <th>日付</th>
        <th>アクセス数</th>
    </tr>



    @*@foreach (var board in Model)
    {
        <tr>
            <td>@board.BoardNum</td>
            <td><a asp-controller="Board" asp-action="Detail" asp-route-boardNum="@board.BoardNum">@board.BoardTitle</a></td>
            <td>@board.UserId</td>
            <td>@board.BoardDate</td>
            <td>@board.BoardViews</td>
        </tr>
    }*@

</table>
<script>
    $(window).load(function () {
        $.ajax({
            type: "get",
            dataType: "json",
            url: "http://localhost:1455/api/Boards",
            success: function (result) {
                $.each(result, function (index, item) {
                    console.log(item);
                    $("#table").append('<tr>' +
                        '<td>' + item.BoardNum + '</td>' +
                        '<td><a href="/Board/Detail?boardNum=' + item.BoardNum + '">' + item.BoardTitle + '</a></td>' +
                        '<td>' + item.UserId + '</td>' +
                        '<td>' + item.BoardDate + '</td>' +
                        '<td>' + item.BoardViews + '</td>' +
                        '</tr>');
                });
            }
        });
    });
</script>

<script>
    var page = 0;
    var work = true;
    $(window).scroll(function () {
        if (work && $(window).scrollTop() == $(document).height() - $(window).height()) {
            console.log(++page);
            getScrolled(page);
        }
    });

    function getScrolled(startNo) {
        $.ajax({
            url: "http://localhost:1455/api/Boards?page=" + startNo,
            type: "get",
            dataType: "json",
            success: function (result) {
                console.log(result);

                let length = result.length;
                if (length <= 0) {
                    work = false;
                }
                if (work || length > 0) {
                    console.log("loop");
                    $.each(result, function (index, item) {
                        console.log(item);
                        $("#table").append('<tr>' +
                            '<td>' + item.BoardNum + '</td>' +
                            '<td><a href="/Board/Detail?boardNum=' + item.BoardNum + '">' + item.BoardTitle + '</a></td>' +
                            '<td>' + item.UserId + '</td>' +
                            '<td>' + item.BoardDate + '</td>' +
                            '<td>' + item.BoardViews + '</td>' +
                            '</tr>');
                    });
                }
            }
        });
    }
</script>